body{
    background-image: url("../img/background-image.jpg") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; 
    background-attachment: fixed !important;
    font-family: cursive !important;
}

.empty-space{
    padding-top: 50px;
}

.navbar-custom{
    background-color: #ffdac0;
}

#navbar_brand_logo{
    width: 200px; 
    height: 50px;
}

.navbar-nav .active{
    text-decoration: underline wavy !important;
}

.dropdown-menu{
    background-color: #FDFDF9 !important;
  }
  
.dropdown-item:hover{
    background-color: #ffdac0 !important;
}

.dropdown-item:active{
    background-color: #ffdac0 !important;
    color: black !important;
}

#student_profile_pic_image{
    height: 25px; 
    width: 25px;
    padding-bottom: 3px;
}

#activity-list{
    display: none;
}

#add-new-activity-div{
    min-height: 54vh;
}

#form-div{
    background-color: #ffdac0; 
    border-radius:20px; 
    padding: 30px 30px 15px 30px;
}

#add-activity-header{
    margin-bottom: 15px;
}

.form-class{
    margin-bottom: 15px;
    text-align: left;
}

.input-group-text{
    width: 140px;
}

.btn{
    border: 2px solid black !important;
}

#footer-div{
    background-color: #ffdac0;
    padding-bottom: 15px; 
    padding-top: 15px;
}