body{
    background-image: url("../img/background-image.jpg") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; 
    background-attachment: fixed !important;
    font-family: cursive !important;
}

.empty-space{
    padding-top: 50px;
}

.navbar-custom{
    background-color: #ffdac0;
}

#navbar_brand_logo{
    width: 200px; 
    height: 50px;
}

.navbar-nav .active{
    text-decoration: underline wavy !important;
}

.dropdown-menu{
    background-color: #FDFDF9 !important;
  }
  
.dropdown-item:hover{
    background-color: #ffdac0 !important;
}

.dropdown-item:active{
    background-color: #ffdac0 !important;
    color: black !important;
}

#student_profile_pic_image{
    height: 25px; 
    width: 25px;
    padding-bottom: 3px;
}

.table-responsive{
    background-color: #ffdac0;
    border-radius: 20px;
    padding: 15px;
}

table, th, td{
    border: 2px solid black !important; 
}

table{
    padding-top: 8px;
}

.btn{
    background-color: black !important;
    color: white !important;
    height: 40px !important;
    width: 115px !important;
    border: none !important;
    margin: 10px !important;
    cursor: pointer !important
}
  
.btn:hover {
    background-color: rgb(51, 51, 51) !important;
}

#footer-div{
    background-color: #ffdac0;
    padding-bottom: 15px; 
    padding-top: 15px;
}